---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import CardLayout from "../layouts/CardLayout.astro";
// import LinkedIcon from "../../public/svgIcon/linkedIcon.astro";
// import GithubIcon from "../../public/svgIcon/githubIcon.astro";
// import MailIcon from "../../public/svgIcon/mailIcon.astro";
// import DownloadIcon from "../../public/svgIcon/downloadIcon.astro";
import Linkarrow from "../../public/svgIcon/linkarrow.astro";
import Profile from "../../public/vid/profile.jpg";

const cards = [
  {
    title: "Online Resume Creator",
    link: "",
    videolink:
      "https://ik.imagekit.io/tke5fzwem/newrsume.webm/ik-video.mp4?updatedAt=1739371539134",
    slug: "online-resume-creator",
  },
  {
    title: "Telegram clicker game app",
    link: "",
    videolink: "https://ik.imagekit.io/tke5fzwem/coin.webm/ik-video.mp4?updatedAt=1739371533953",
    slug: "telegram-click-app",
  },
  {
    title: "Football league ranking app",
    link: "",
    videolink: "https://ik.imagekit.io/tke5fzwem/proed.mp4?updatedAt=1739371582651",
    slug: "football-ranking-app",
  },

  {
    title: "React-Online-Code-Editor",
    link: "",
    videolink:
      "https://ik.imagekit.io/tke5fzwem/neweditor.webm/ik-video.mp4?updatedAt=1739371534730",
    slug: "react-online-code-editor",
  },

  {
    title: "E-commerce Price Checker",
    link: "",
    videolink: "https://ik.imagekit.io/tke5fzwem/newecom.webm/ik-video.mp4?updatedAt=1739371542713",
    slug: "ecommerce-price-comparison",
  },

  {
    title: "Css Art Illustrations",
    link: "",
    videolink: "https://ik.imagekit.io/tke5fzwem/cssarts.webm/ik-video.mp4?updatedAt=1739371534205",
    slug: "css-arts",
  },

  // {
  //   title: "React-Online-Code-Editor",
  //   link: "",
  //   videolink: "vid/neweditor.webm",
  //   slug: "react-online-code-editor",
  // },

  // {
  //   title: "E-commerce Price Comparison App",
  //   link: "",
  //   videolink: "vid/newecom.webm",
  //   slug: "ecommerce-price-comparison",
  // },
];
---

<Layout title="homepage">
  <main class="md:w-[700px] md:mx-auto relative">
    <header
      class="flex flex-col md:gap-4 b md:px-6 headershit md:w-[700px] w-full h-full md:mx-auto gap-10"
    >
      <!-- <span class="w-4 bg-white h-6 absolute bottom-[0px] left-[-10px]"></span> -->
      <div
        class="flex md:flex-row items-center justify-between md:my-6 mt-2 gap-0 headertop mx-4 md:mx-0"
      >
        <!-- <div class="w-20 h-20 border rounded-full bg-gray-400"></div> -->
        <div class="flex flex-row items-center justify-center md:gap-4 gap-4 headername">
          <div class="flex">
            <span class="w-16 h-16 p-1 bg-white profilepics-halftone propics">
              <Image
                src={Profile}
                width={100}
                height={100}
                alt="profile pics"
                class={`outline outline-black outline-offset-4`}
              />
            </span>
          </div>
          <div class="flex flex-col md:mt-0 w-full profilename">
            <h3 class="[font-size:clamp(1rem,5vw,1.5rem)]">Seun Olajide</h3>
            <div class="relative flex flex-col w-full">
              <p id="" class="z-20 text-[#676767] text-nowrap">Web Developer</p>
            </div>
          </div>
        </div>

        <!-- Icon social links -->

        <!-- <div class="flex items-center gap-2">
          <a
            href="https://www.linkedin.com/in/oluwaseun-olajide-05017a124"
            class="relative hover:[transform:translateY(-5px)] [transition:.3s_ease-in] w-9 h-9 rounded-[12px] bg-[#073F7A] outline outline-[3px] outline-black iconbutton flex items-center justify-center text-black"
            aria-label="linkedin-profile-link"
          >
            <span class="flex z-10 relative">
              <LinkedIcon />
            </span>
          </a>
          <a
            href="https://github.com/shenkzjay"
            class="relative hover:[transform:translateY(-5px)] [transition:.3s_ease-in] w-9 h-9 rounded-[12px] bg-[#1182A6] outline outline-[3px] outline-black giticonbutton flex items-center justify-center text-black"
            aria-label="github-profile-link"
          >
            <span class="z-10 relative w-6 h-6">
              <GithubIcon />
            </span>
          </a>
          <a
            href="mailto:senksjay@gmail.com"
            class="relative hover:[transform:translateY(-5px)] [transition:.3s_ease-in] w-9 h-9 rounded-[12px] bg-[#D07E32] outline outline-[3px] outline-black mailiconbutton flex items-center justify-center text-black"
            aria-label="email-link"
          >
            <span class="flex z-10 relative">
              <MailIcon />
            </span>
          </a>
        </div> -->
        <div class="flex flex-col links cursor-pointer underline gap-1 text-sm">
          <a
            class="relative hover:[transform:translateY(-3px)] [transition:.3s_ease-in]"
            href='href="https://www.linkedin.com/in/oluwaseun-olajide-05017a124'>LinkedIn</a
          >
          <a
            href="https://github.com/shenkzjay"
            class="relative hover:[transform:translateY(-3px)] [transition:.3s_ease-in]"
            href="">Github</a
          >
          <a
            class="relative hover:[transform:translateY(-3px)] [transition:.3s_ease-in]"
            href="mailto:senksjay@gmail.com">Email</a
          >
        </div>
      </div>

      <div class="text-center flex justify-center displaytext overflow-hidden">
        <p class="w-2/3 text-[#676767]">I create clean and functional application</p>
      </div>
    </header>

    <section class="tabdetails">
      <span class="w-4 h-12 absolute right-[-5px] top-64 hidden md:flex bg-white"></span>
      <ul
        class="grid md:grid-cols-[repeat(auto-fit,minmax(200px,1fr))] grid-cols-[repeat(auto-fit,minmax(300px,1fr))] gap-12 w-full md:py-0 md:px-6"
      >
        {
          cards?.map((items) => (
            <li class="" aria-label={items.title}>
              <CardLayout
                title={items.title}
                videolink={items.videolink}
                slug={`${items.slug}`}
                height="12rem"
              />
            </li>
          ))
        }
      </ul>
    </section>
    <footer
      class="flex md:flex-row flex-col gap-2 justify-center items-center my-10 text-[#676767]"
    >
      <div>
        <span>Olajide Seun</span>
        <span>|</span>
        <span>Web developer</span>
      </div>
      <div class="group">
        <a
          href="/olajideseuncv.pdf"
          target="_blank"
          rel="nonreferrer"
          class="flex text-black items-center gap-1 group-hover:font-semibold"
          download
        >
          View Resume
          <span class="hidden group-hover:flex"><Linkarrow /></span>
        </a>
      </div>

      <!-- <div class="theme-switch-wrapper">
        <label class="theme-switch" for="checkbox">
          <input type="checkbox" name="checkbox" title="checkbox" id="checkbox" />
          <div class="slider round"></div>
        </label>
        <em>Enable dark mode</em>
      </div> -->
    </footer>
  </main>
</Layout>

<style>
  .iconbutton::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(#0558af, #0558af);
    width: 100%;
    height: 90%;
    border-radius: 12px;
  }

  .iconbutton::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: radial-gradient(ellipse, white 49.5%, transparent 50%) 0% 0% / 1rem 0.3rem no-repeat;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    transform: skew(0deg, -20deg);
  }

  .giticonbutton::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: radial-gradient(ellipse, white 49.5%, transparent 50%) 0% 0% / 1rem 0.3rem no-repeat;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    transform: skew(0deg, -20deg);
  }
  .giticonbutton::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(#09b2e8, #09b2e8);
    width: 100%;
    height: 90%;
    border-radius: 12px;
  }

  .mailiconbutton::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: radial-gradient(ellipse, white 49.5%, transparent 50%) 0% 0% / 1rem 0.3rem no-repeat;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    transform: skew(0deg, -20deg);
  }
  .mailiconbutton::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(#f9e163, #f9e163);
    width: 100%;
    height: 90%;
    border-radius: 12px;
  }

  .chatcard::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(-135deg, #e4e4e4 49%, transparent 50%) 10% 0 / 3vmin 3vmin;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    z-index: -1;
  }

  .chatcardright::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50vmin;
    background: linear-gradient(135deg, #e4e4e4 49%, transparent 50%) 0% 0 / 3vmin 3vmin;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  input[type="radio"] {
    display: none;
  }

  .tabdetails > .projectTab {
    display: none;
  }

  .tabdetails > .projectTab.active {
    display: grid;
  }

  @supports (anchor-name: --slider-menu) {
    .nav {
      anchor-name: --slider-menu;
      display: flex;
    }

    .nav::before {
      content: "";
      position: absolute;
      left: anchor(var(--target) left);
      right: anchor(var(--target) right);
      bottom: anchor(var(--target) bottom);
      transition: all 0.3s;
      border-bottom: 0.3rem solid hsl(from var(--color) h s calc(l * 0.8));
    }

    .nav:has(div > label:not(:hover, :focus-visible))::before {
      visibility: hidden;
      opacity: 0;
      transition: all 0.3s;
    }

    label {
      anchor-name: var(--anchor);
      font-size: 1.2rem;
      font-weight: 500;
      cursor: pointer;
      color: #c4c4c4;
    }

    label.active {
      /* border-bottom: 0.3rem solid red; */
      color: #7b7b7b;
    }

    .nav > div:nth-child(1) {
      --anchor: --item-1;
    }

    .nav > div:nth-child(2) {
      --anchor: --item-2;
    }

    .nav > div:nth-child(3) {
      --anchor: --item-3;
    }

    .nav:has(:nth-child(1) label:is(:hover, :focus-visible)) {
      --target: --item-1;
      --color: red;
    }

    .nav:has(:nth-child(2) label:is(:hover, :focus-visible)) {
      --target: --item-2;
      --color: red;
    }

    .nav:has(:nth-child(3) label:is(:hover, :focus-visible)) {
      --target: --item-3;
      --color: red;
    }

    a:focus-visible {
      outline: none;
    }
  }

  @supports (animation-timeline: scroll()) {
    .headershit {
      position: fixed;
      top: 0;
      animation: heightdown linear both;
      z-index: 1;
      /* background: #f7f7f7; */

      /* border-bottom: none; */
    }

    .links {
      animation: reduce-fontsize linear both;
    }

    .tabdetails {
      margin-top: 13rem;
      margin-bottom: 5rem;
    }

    .displaytext {
      animation: displaytext linear both;
    }

    .headertop {
      animation: reducetext linear both;
    }

    .propics {
      animation: shrinkpics linear both;
    }

    .headername {
      animation: scaledownheaderpics linear both;
    }

    .headertop,
    .displaytext,
    .headershit,
    .propics,
    .headername,
    .headernametext,
    .links {
      animation-timeline: scroll();
      animation-range: 0px 150px;
    }

    .headernametext {
      animation: movetextup linear both;
    }

    @keyframes shrinkpics {
      to {
        transform: scale(0);
        transform-origin: left center;
      }
    }

    @keyframes scaledownheaderpics {
      to {
        transform: scale(0.7) translateX(-5.5rem);

        transform-origin: left center;
      }
    }

    @keyframes heightdown {
      from {
        height: 13rem;
        font-size: 1em;
      }
      to {
        height: 7rem;
        font-size: 1em;
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.05);
        background: var(--bg-color);
        color: var(--font-color);
      }
    }

    /* @keyframes shrinkpics {
      to {
        display: none;
      }
    } */

    @media screen and (max-width: 800px) {
      @keyframes heightdown {
        from {
          height: 14rem;
          font-size: 1em;
        }
        to {
          height: 6rem;
          font-size: 1em;
          box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.08);
          background: var(--bg-color);
        }
      }

      @keyframes shrinkpics {
        to {
          transform: scale(0);
          transform-origin: left center;
        }
      }

      @keyframes scaledownheaderpics {
        from {
          transform: scale(0.8);
          transform-origin: left;
          transition: transform 0.3s ease-in-out;
        }
        to {
          transform: scale(0.7) translateX(-5.5rem);
          transform-origin: left;
          transition: transform 0.3s ease-in-out;
        }
      }

      /* .profilename {
        transform: translateY(-15%);
      } */
    }

    @keyframes reducetext {
      to {
        transform: translate(0%, 0%);
        /* margin-top: 1.5rem; */
      }
    }

    @keyframes displaytext {
      to {
        transform: translate(0%, -200%);
        /* visibility: hidden;
        opacity: 0; */
      }
    }

    @keyframes reduce-fontsize {
      to {
        font-size: 12px;
      }
    }
  }

  /* theme switch */

  .theme-switch-wrapper {
    display: flex;
    align-items: center;
  }

  .theme-switch-wrapper > em {
    margin-left: 10px;
    font-size: 1rem;
  }

  .theme-switch {
    display: inline-block;
    height: 34px;
    position: relative;
    width: 60px;
  }

  .theme-switch > input {
    display: none;
  }

  .slider {
    background-color: #ccc;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: 0.4s;
  }

  .slider:before {
    background-color: #fff;
    bottom: 4px;
    content: "";
    height: 26px;
    left: 4px;
    position: absolute;
    transition: 0.4s;
    width: 26px;
  }

  input:checked + .slider {
    background-color: #66bb6a;
  }

  input:checked + .slider:before {
    transform: translateX(26px);
  }

  .slider.round {
    border-radius: 34px;
  }

  .slider.round:before {
    border-radius: 50%;
  }

  .profilepics-halftone {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .profilepics-halftone::after {
    content: "";
    position: absolute;
    inset: 0;
    top: 0.35rem;
    left: 0.35rem;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, #1a1a1a 0.02rem, transparent 0%),
      radial-gradient(circle, #c4c4c4 0.02rem, transparent 0%);
    background-size: 0.1rem 0.15rem;
    background-position:
      0 0,
      0.15rem 0.15rem;
    z-index: -1;
  }
</style>

<script>
  const toggleSwitch = document.querySelector('.theme-switch input[type="checkbox"]');

  function switchTheme(e: Event) {
    const checkboxEvent = e.target as HTMLInputElement;
    if (checkboxEvent.checked) {
      document.documentElement.setAttribute("data-theme", "dark");
      localStorage.setItem("theme", "dark");
    } else {
      document.documentElement.setAttribute("data-theme", "light");
      localStorage.setItem("theme", "light");
    }
  }

  toggleSwitch?.addEventListener("change", switchTheme, false);
</script>
