---
import { Image } from "astro:assets";
import Linkarrow from "../../../public/svgIcon/linkarrow.astro";
import ArrowIcon from "../../../public/svgIcon/arrowIcon.astro";

export async function getStaticPaths() {
  const pages = [
    {
      slug: "online-resume-creator",
      title: "Online Resume Creator",
      description: "holly moly",
      img: "../vid/newrsume.webm",
      tags: [
        "react",
        "typescript",
        "redux-toolkit",
        "tailwindcss",
        "pdfdownload",
        "ci/cd",
        "tiptap",
      ],
    },

    {
      slug: "react-online-code-editor",
      title: "React-Online-Code-Editor",
      description: "holly moly",
      img: "../vid/neweditor.webm",
      tags: ["react", "typescript", "redux-toolkit"],
    },

    {
      slug: "ecommerce-price-comparison",
      title: "E-commerce Price Comparison App",
      description: "holly moly",
      img: "../vid/newecom.webm",
      tags: ["react", "typescript", "redux-toolkit"],
    },
  ];

  return pages.map(({ slug, title, description, img, tags }) => {
    return {
      params: { slug },
      props: { title, description, img, tags },
    };
  });
}

const { title, description, img, tags } = Astro.props;
---

<html>
  <body>
    <main class="!mx-6 md:mx-0">
      <div class="md:w-[700px] !w-full md:mx-auto relative flex flex-col h-full border gap-8">
        <nav class="flex flex-row justify-between w-full mt-12">
          <a
            href="/"
            data-astro-history="replace"
            class="flex flex-row items-center gap-2 hover:font-bold"
          >
            <span class="[transform:scale(-1,1)]"><ArrowIcon /></span>
            Back</a
          >
          <a
            href="#"
            class="flex flex-row items-center gap-2 rounded-[10px] border-2 border-black hover:rounded-[20px] [transition:border-radius_.3s_ease-in-out] px-6 py-2"
          >
            Go to site
            <Linkarrow />
          </a>
        </nav>

        <!-- <Image src={img} height={300} width={400} alt={""} class="w-full h-[25vw] rounded-[20px]" /> -->
        <video
          autoplay
          loop
          muted
          playsinline
          class="object-fit h-full w-full rounded-[10px] overflow-hidden [transform:_scale(1)] group-hover:[transform:_scale(1)] [transition:_transform_300ms_ease-in-out] [transform-origin:40%_50%]"
        >
          <source src={img} />
        </video>

        <h2 class="text-2xl font-semibold">{title}</h2>

        <p>{description}</p>
        <ul class="flex flex-row gap-6 flex-wrap">
          {
            tags.map((item) => (
              <li class="border bg-[#eaeaea] px-4 py-1 text-sm rounded-[10px] text-[#7b7b7b]">
                {item}
              </li>
            ))
          }
        </ul>
      </div>
    </main>
  </body>
</html>

<style>
  @media screen and (max-width: 800px) {
    .tobey {
      width: 100%;
    }
  }
</style>
