---
// import Linkarrow from "../../../public/svgIcon/linkarrow.astro";
// import ArrowIcon from "../../../public/svgIcon/arrowIcon.astro";
// import BackButton from "../../../public/svgIcon/backbutton.astro";
import CardLayout from "../../layouts/CardLayout.astro";
import Layout from "../../layouts/Layout.astro";
import AIagent from "../../../public/image.png";
import AI from "../../public/vid/ai vid.webm";
import estate from "../../public/vid/estatennn.webm";
// import GithubIcon from "../../../public/svgIcon/githubIcon.astro";

export async function getStaticPaths() {
  const pages = [
    {
      slug: "estate-management",
      title: "Estate/Gated community access control management app",
      description:
        "An application that helps manage resident activities in gated communities such as access code verification, generating visitors access codes, opening maintenance faults reports, getting estate update notification etc *demo - username:killasenk@gmail.com password:123*",
      img: `${estate}`,
      tags: ["nextjs", "server components", "tailwindcss", "mongodb"],
      site: "https://https://estatepro-taupe.vercel.app/dashboard",
      github: "https://github.com/shenkzjay/remixchatbot",
    },
    {
      slug: "ai-agent-bot",
      title: "RAG AI agent with remix and langgraph",
      description: "A RAG AI agent bot created using remix js, Langchain and Langgraph.",
      img: `${AI}`,
      tags: ["ai", "remixjs", "langchain", "langgraph", "pinecone", "gemini-flash 1.5 api"],
      site: "https://remixchatbot.vercel.app/",
      github: "https://github.com/shenkzjay/remixchatbot",
    },
    {
      slug: "online-resume-creator",
      title: "Online Resume Creator",
      description:
        "An online resume editor that lets you easily select a layout, customize and download your resume as a pdf file",
      img: "https://ik.imagekit.io/tke5fzwem/newrsume.webm/ik-video.mp4?updatedAt=1739371539134",
      tags: [
        "react",
        "typescript",
        "redux-toolkit",
        "tailwindcss",
        "html2pdf",
        "react-query",
        "git",
      ],
      site: "https://resume-builder-ys1u-shenkzjays-projects.vercel.app/",
      github: "https://github.com/shenkzjay/resume-builder",
    },
    {
      slug: "telegram-click-app",
      title: "Telegram clicker game app",
      description: "A telegram clicker game app for acquiring airdrops",
      img: " https://ik.imagekit.io/tke5fzwem/coin.webm/ik-video.mp4?updatedAt=1739371533953",
      tags: ["crypto", "nextjs", "ton", "drizzle"],
      site: "https://telegram-two-red.vercel.app/",
      github: "https://github.com/shenkzjay/telegram-mini-app",
    },

    {
      slug: "react-online-code-editor",
      title: "React-Online-Code-Editor",
      description:
        "A react code editor playground with code cell blocks that provides a rough sketch whiteboard for your codes",
      img: "https://ik.imagekit.io/tke5fzwem/neweditor.webm/ik-video.mp4?updatedAt=1739371534730",
      tags: ["react", "typescript", "bulma.css", "redux-toolkit", "es-build", "CI/CD"],
      site: "",
      github: "https://github.com/shenkzjay/simple-code-editor",
    },

    {
      slug: "ecommerce-price-comparison",
      title: "E-commerce Price Checker",
      description:
        "An ecommerce price comparison checker that get the price and variety of items across some ecommerce platforms",
      img: "https://ik.imagekit.io/tke5fzwem/newecom.webm/ik-video.mp4?updatedAt=1739371542713",
      tags: ["nextjs", "typescript", "playwright", "web-scraping", "docker"],
      site: "",
      github: "https://github.com/shenkzjay/Comparison-website/tree/compweb_v1.1",
    },

    {
      slug: "football-ranking-app",
      title: "Football league ranking app",
      description:
        "A football league app to rank teams according to their performances; keeps track of player statictics and update live scores!",
      img: "https://ik.imagekit.io/tke5fzwem/proed.mp4?updatedAt=1739371582651",
      tags: ["nextjs", "tailwindcss", "postgress", "drizzle"],
      site: "https://futball-eight.vercel.app/",
      github: "https://github.com/shenkzjay/football-league-ranking-app",
    },

    {
      slug: "css-arts",
      title: "Css Art Illustrations",
      description:
        "A lynn fisher inspired project for creating cool illustrations using pure css on a single div",
      img: " https://ik.imagekit.io/tke5fzwem/cssarts.webm/ik-video.mp4?updatedAt=1739371534205",
      tags: ["pure css", "singledivs", "illustration"],
      site: "https://cssillustrations.netlify.app/",
      github: "https://github.com/shenkzjay/cssillustri",
    },
  ];

  return pages.map(({ slug, title, description, img, tags, site, github }) => {
    return {
      params: { slug },
      props: { title, description, img, tags, slug, site, github },
    };
  });
}

const { title, description, img, tags, slug, site, github } = Astro.props;
---

<Layout title={slug}>
  <html>
    <body>
      <main class="w-full">
        <div class="md:w-[700px] w-full md:mx-auto relative flex flex-col gap-8 mb-20">
          <nav class="flex flex-row justify-between mx-6 md:mx-0 mt-12">
            <a
              href="/"
              onclick="history.back()"
              id="back-button"
              data-astro-history="push"
              class="flex flex-row items-center group gap-1 underline"
            >
              <!-- <span
                class="flex group-active:[transform:scaleY(0.8)] justify-center items-center w-8 h-8 p-2 rounded-[12px] mr-2"
                ><BackButton /></span
              > -->
              ← Back</a
            >

            <div class="flex flex-row gap-10">
              {
                github !== "" && (
                  <a
                    href={github}
                    target="_blank"
                    rel="noreferrer"
                    class="flex relative underline hover:[transform:translateY(-5px)] [transition:.3s_ease-in] "
                  >
                    <span class="">
                      {/* <GithubIcon /> */}
                      Github
                    </span>
                  </a>
                )
              }

              {
                site !== "" && (
                  <a
                    href={site}
                    target="_blank"
                    rel="noreferrer"
                    class=" flex relative underline hover:[transform:translateY(-5px)] [transition:.3s_ease-in]"
                  >
                    <span class="z-10">Go to site</span>
                    {/* <Linkarrow /> */}
                  </a>
                )
              }
            </div>
          </nav>

          <CardLayout title={title} , slug={slug} videolink={img} height="27" />
          <p class="mx-6 md:mx-0">{description}</p>
          <ul class="flex flex-row gap-4 flex-wrap mx-6 md:mx-0">
            {
              tags.map((item) => (
                <li class="outline flex !w-fit  px-4 py-1 text-sm  text-[#676767] card-halftone ">
                  <p class="z-10">{item}</p>
                  <span class="tags flex" />
                </li>
              ))
            }
          </ul>
        </div>
      </main>
    </body>
  </html>
</Layout>

<style>
  @media screen and (max-width: 800px) {
    .tobey {
      width: 100%;
    }
  }

  body {
    background-color: var(--bg-color);
    color: var(--font-color);
  }

  .gotoSiteButton::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(#e6eaee, #e6eaee) no-repeat;
    width: 100%;
    height: 90%;
    border-radius: 12px;
  }

  .gotoSiteButton::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background:
      radial-gradient(ellipse, rgba(255, 255, 255, 1) 49%, transparent 50%) 5% 5%/ 1.5rem 0.4rem no-repeat,
      linear-gradient(#c9c7c7, #c9c7c7) 50% 0 / 100% 100% no-repeat;
    width: 90%;
    height: 80%;
    margin: 0 6px;
    border-radius: 12px;
  }

  .tags {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(white, white) no-repeat;
    width: 100%;
    height: 90%;
    border-radius: 10px;
  }

  /* 
  .gotoSiteButton::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: radial-gradient(ellipse, white 49.5%, transparent 50%) 0% 0% / 1rem 0.3rem
      no-repeat;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    transform: skew(0deg, -20deg);
  } */

  .card-halftone {
    position: relative;
    width: 100%;
    height: 100%;
    background: white;
  }

  .card-halftone:hover {
    border: 2px solid black;
  }

  .card-halftone::after {
    content: "";
    position: absolute;
    inset: 0;
    top: 0.4rem;
    left: 0.4rem;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, black 0.03rem, transparent 0%),
      radial-gradient(circle, black 0.02rem, transparent 0%);
    background-size: 0.15rem 0.15rem;
    background-position:
      0 0,
      0.15rem 0.15rem;
    z-index: -1;
  }
</style>
